<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>studyCompletionMessage</key>
	<string>No hay más actividades para este estudio en la aplicación COVID MyStudies. Gracias por su participación</string>
	<key>appleId</key>
	<string>1509692957</string>
	<key>shouldShowMenuResourceButton</key>
	<true/>
	<key>shouldShowConsentButtonOnStudyHome</key>
	<true/>
	<key>showConsentInStudyResources</key>
	<true/>
</dict>
</plist>
