<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Bienvenidos</string>
		<key>text</key>
		<string>La FDA se complace en ofrecer esta aplicación para permitir el consentimiento electrónico para los ensayos de COVID-19. Antes de poder acceder a la información de consentimiento informado para un ensayo clínico o estudio, debe registrarse en la aplicación.</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
