//
//  hphcDebug.xcconfig
//  HPHC
//
//  Created by Surender on 06/02/20.
//  Copyright © 2020 BTC. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


REGISTRATION_SERVER_URL = "https://hpreg-stage.lkcompliant.net/fdahpUserRegWS/"
WCP_SERVER_URL = "https://hpreg-stage.lkcompliant.net/fdahpUserRegWS/"
RESPONSE_SERVER_URL = "https://hpreg-stage.lkcompliant.net/fdahpUserRegWS/"
