<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Welcome! </string>
		<key>text</key>
		<string>The FDA is pleased to offer the FDA MyStudies Demonstration app as a tool to evaluate the FDA MyStudies system for your own clinical research purposes.</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Leveraging the Power of Mobility for Research </string>
		<key>text</key>
		<string>Using this app with the other elements of the FDA MyStudies Demonstration System, researchers, regulators and other potential users can better understand the features of the FDA MyStudies system and decide if it is suitable for their research goals.</string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_01</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
