<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductTitleName</key>
	<string>COVID MyStudies</string>
	<key>JoinStudyButtonTitle</key>
	<string>Unirse al estudio</string>
	<key>ViewConsentButtonTitle</key>
	<string>Ver consentimiento</string>
	<key>VisitWebsiteButtonTitle</key>
	<string>Visita el sito web</string>
	<key>ConsentPDF</key>
	<string>PDF de consentimiento</string>
	<key>LeaveStudy</key>
	<string>Abandonar el estudio</string>
	<key>LeaveStudyConfirmationText</key>
	<string>Si toca &quot;Continuar&quot;, ya no podrá utilizar esta aplicación para las citas con el oculista y el seguimiento de medicamentos.</string>
	<key>WebsiteLink</key>
	<string>www.fda.gov</string>
	<key>WebsiteButtonTitle</key>
	<string>www.fda.gov</string>
	<key>TermsAndConditionURL</key>
	<string>https://www.fda.gov/AboutFDA/AboutThisWebsite/WebsitePolicies/</string>
	<key>PrivacyPolicyURL</key>
	<string>https://www.fda.gov/AboutFDA/AboutThisWebsite/WebsitePolicies/#privacy</string>
	<key>ValidatedTitle</key>
	<string>¡Validado!</string>
	<key>AllowFeedback</key>
	<true/>
	<key>NavigationTitleName</key>
	<string>COVID MyStudies</string>
	<key>PoweredByTitleName</key>
	<string>Desarrollado por FDA MyStudies</string>
</dict>
</plist>
