<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JoinStudyButtonTitle</key>
	<string>Join IBD PROdigy</string>
	<key>ViewConsentButtonTitle</key>
	<string>IBD PROdigy Registration</string>
	<key>VisitWebsiteButtonTitle</key>
	<string>Visit Crohn’s &amp; Colitis Foundation</string>
	<key>ConsentPDF</key>
	<string>App Registration</string>
	<key>LeaveStudy</key>
	<string>Unsubscribe</string>
	<key>LeaveStudyConfirmationText</key>
	<string>TBD</string>
	<key>WebsiteLink</key>
	<string>www.crohnscolitisfoundation.org</string>
	<key>WebsiteButtonTitle</key>
	<string>Crohn’s &amp; Colitis Foundation Website</string>
	<key>TermsAndConditionURL</key>
	<string>http://online.crohnscolitisfoundation.org/site/DocServer/mSPARC_Privacy_Policy_07302019.pdf?docID=35367</string>
	<key>PrivacyPolicyURL</key>
	<string>http://online.crohnscolitisfoundation.org/site/DocServer/mSPARC_Privacy_Policy_07302019.pdf?docID=35367</string>
	<key>ValidatedTitle</key>
	<string>Validated!</string>
	<key>AllowFeedback</key>
	<true/>
	<key>NavigationTitleName</key>
	<string>IBD PROdigy</string>
	<key>PoweredByTitleName</key>
	<string>Powered by FDA MyStudies</string>
</dict>
</plist>
