<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>IBD PROdigy</string>
		<key>text</key>
		<string>Welcome to IBD PROdigy, the Crohn’s &amp; Colitis Foundation’s research participant tracking app. You are the expert on your IBD! We know your journey is unique. By learning from you, we can advance research and accelerate progress toward cures.</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
