<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JoinStudyButtonTitle</key>
	<string>Comenzar</string>
	<key>ViewConsentButtonTitle</key>
	<string>Ver consentimiento</string>
	<key>VisitWebsiteButtonTitle</key>
	<string>Visita el sito web</string>
	<key>ConsentPDF</key>
	<string>Consentimiento PDF</string>
	<key>LeaveStudy</key>
	<string>Deja el estudio</string>
	<key>LeaveStudyConfirmationText</key>
	<string>Si toca “Continuar” ya no podrá utilizar esta aplicación para las citas con el oftalmólogo y el seguimiento de la medicación</string>
	<key>WebsiteLink</key>
	<string>www.carragroup.org</string>
	<key>WebsiteButtonTitle</key>
	<string>www.carragroup.org</string>
	<key>TermsAndConditionURL</key>
	<string>https://carragroup.org/privacy-policy</string>
	<key>PrivacyPolicyURL</key>
	<string>https://carragroup.org/privacy-policy</string>
	<key>ValidatedTitle</key>
	<string>Ya es parte</string>
	<key>AllowFeedback</key>
	<false/>
	<key>NavigationTitleName</key>
	<string>CARRA Registry</string>
	<key>PoweredByTitleName</key>
	<string>Desarrollado por FDA MyStudies</string>
	<key>ProductTitleName</key>
	<string>CARRA Registry</string>
</dict>
</plist>
