<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>FDA Listens!</string>
		<key>text</key>
		<string>As part of a new initiative to gather real-world, contextual and conventionally uncaptured types of patient reported outcomes and data, the FDA now brings Health Research Studies to the mobile platform!</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string>https://www.youtube.com/watch?v=6FGGquOrVic</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Deriving insights like never before!</string>
		<key>text</key>
		<string>Available for iOS and Android devices, this app will house several FDA studies in the days to come, enabling researchers engage with participants worldwide to gather invaluable data via surveys and active tasks.</string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_01</string>
		<key>videoLink</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Leveraging the power of mobility for research</string>
		<key>text</key>
		<string>With participants now being able to provide data while on the go, in their real-world environment and via smartphone features, researchers get seamless access to newer and more frequently provided data to use for analysis.</string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_02</string>
		<key>videoLink</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Improving health research outcomes</string>
		<key>text</key>
		<string>More data, better insights, improved research outcomes.  Explore and participate in studies that you are eligible for and help make the world a healthier place! We look forward to having you on-board! </string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_03</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
