<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Welcome! </string>
		<key>text</key>
		<string>CARRA is pleased to offer the LIMIT-JIA Trial app as a tool to gather data about medication use and other health issues facing the people we serve.</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Using Mobile Devices to Power Research</string>
		<key>text</key>
		<string>This app will house surveys conducted by CARRA and other institutions for LIMIT-JIA.  This will allow researchers to engage more directly with people to gather data through surveys.</string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_01</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
